.scrollbar {
    -webkit-overflow-scrolling: touch; /* улучшенная инерция скролла на iOS */

    &::-webkit-scrollbar-track {
        @apply bg-transparent;
    }

    &::-webkit-scrollbar-thumb {
        @apply bg-transparent;
        @apply rounded-sm;
        @apply cursor-pointer;
    }

    &:hover, &:active, &:focus {
        &::-webkit-scrollbar-thumb {
            @apply bg-slate-170;
        }
    }

    &::-webkit-scrollbar-thumb:hover {
        @apply bg-[#DFE3EB];
    }

    /* Отключение обводки при фокусе для лучшего UX */

    &:focus {
        outline: none;
    }
}

.scrollbar-x::-webkit-scrollbar {
    @apply h-1.5;
}

.scrollbar-y::-webkit-scrollbar {
    @apply w-1.5;
}

/* Custom utilities */
.scrollbar-track-mt-2::-webkit-scrollbar-track {
    @apply mt-2;
}

.scrollbar-track-mb-4::-webkit-scrollbar-track {
    @apply mb-4;
}

.scrollbar-track-mb-3::-webkit-scrollbar-track {
    @apply mb-3;
}

.scrollbar-track-main::-webkit-scrollbar-track {
    will-change: scroll-position;

    @apply my-5 2xl:my-6;
}
