.card {
    @apply inset-ring-[1.5px] inset-ring-slate-100 rounded-3xl bg-white;
    @apply p-6;
}

.card__title {
    @apply text-blue-900 font-serif text-xl font-bold leading-7;
}

.card__padding_left {
    @apply pl-6;
}

.card__padding_right {
    @apply pr-6;
}

.card__padding_full {
    @apply px-6;
}
