:root {
    --card-border-offset: 1.5px;
}

.card {
    @apply inset-ring-[1.5px] inset-ring-slate-100 rounded-3xl bg-white;

    padding: var(--card-padding, 1.5rem);
}

.card__title {
    @apply text-blue-900 font-serif text-xl font-bold leading-7;
}

.card__stick_left {
    margin-left: calc(var(--card-border-offset) - var(--card-padding));
}

.card__stick_right {
    margin-right: calc(var(--card-border-offset) - var(--card-padding));
}

.card__stick_bottom {
    margin-bottom: calc(var(--card-border-offset) - var(--card-padding));
}

.card__stick_full {
    margin-inline: calc(var(--card-border-offset) - var(--card-padding));
}

.card__padding_left {
    padding-left: var(--card-padding);
}

.card__padding_right {
    padding-right: var(--card-padding);
}

.card__padding_bottom {
    padding-bottom: var(--card-padding);
}

.card__padding_full {
    padding-inline: var(--card-padding);
}
