.facts__list {
    @apply list-none flex flex-col gap-3 2xl:gap-4;
    @apply text-blue-900 font-medium;

    @apply text-sm leading-4.5 tracking-[0.28px];
    @apply 2xl:text-base 2xl:leading-5 2xl:tracking-[0.32px];
}

.facts__item {
    @apply relative;
    @apply list-image-none list-outside pl-7;

    &::before {
        content: '';
        @apply absolute top-[7px] left-0 w-4 h-1.5 rounded-full bg-slate-100;
    }
}

.facts__arrow {
    background: left top no-repeat url("@/img/facts_arrow.svg");
    background-size: cover;

    @apply w-[66.3px] h-[18.26px];
    @apply 2xl:w-[89px] 2xl:h-[28px];
}

.facts__love {
    background-image: url("@/img/colorful/love.webp");
    background-repeat: no-repeat;

    @apply bg-[position:8px_center] bg-[length:38px_36px];
    @apply 2xl:bg-[position:12.5px_center] 2xl:bg-[length:47px_44px];
}

.facts__sticker {
    @apply size-[154px] pointer-events-none;
    @apply top-[-45.75px] right-[-29.8px];

    @apply 2xl:size-[185px];
    @apply 2xl:top-[-63px] 2xl:right-[-43px];

    background-image: url("@/img/colorful/facts.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
