/* Стили для фильтра по платформам (городам) */
.map__platform {
    @apply relative;

    display: inline-flex;
    align-items: center;
}

.map__platform-current {
    @apply text-blue-600;
    @apply cursor-pointer;
    @apply relative;

    @apply py-1;
    padding-right: 18px;

    &::after {
        content: '';
        @apply absolute right-0 top-1/2;
        @apply text-slate-400;

        transform: translateY(-50%) rotate(0deg);
        transition: transform 0.3s ease;
        width: 12px;
        @apply h-full;

        mask-image: url("@/img/dropdown-arrow.svg");
        mask-repeat: no-repeat;
        mask-size: contain;
        mask-position: center;
        background-color: currentColor;
    }
}

.map__platform_open .map__platform-current::after {
    transform: translateY(-50%) rotate(180deg);
    @apply text-blue-900;
}

.map__platform-dropdown {
    position: absolute;
    top: calc(100% + 20px);
    left: -20px;

    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 2px 8px 0px rgba(33, 37, 75, 0.11);

    padding: 8px;
    /*min-width: 180px;*/
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.2s, visibility 0.2s, transform 0.2s;
    z-index: 10;
}

.map__platform_open .map__platform-dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.map__platform-list {
    @apply list-none m-0 p-0;
    @apply flex flex-col gap-2;
}

.map__platform-item {
    @apply p-3;
    cursor: pointer;
    transition: background-color 0.2s;

    @apply text-blue-900 text-base font-sans font-medium leading-5 tracking-[0.32px];
    @apply rounded-xl;
    white-space: nowrap;

    @apply flex flex-nowrap gap-3;
}

.map__platform-item .icon {
    visibility: hidden;
}

.map__platform-item_active .icon {
    visibility: visible;
}

.map__platform-item:hover {
    @apply bg-slate-50;
    @apply text-blue-600;
}

.map__platform-item_active {
    @apply text-slate-500;
}
