.stats-overview {
}

.stats-overview__item {
    @apply flex flex-1 justify-start inset-ring-[1.5px] inset-ring-slate-100 bg-white p-5 rounded-[20px];
    @apply h-[136px];
}

.stats-overview__data {
    @apply flex flex-col justify-between flex-1;
}

.stats-overview__title {
    @apply text-blue-900 font-medium leading-5 tracking-[0.32px];
}

.stats-overview__value {
    @apply flex items-end gap-[5px] text-blue-900 font-serif font-bold;
}

.stat-overview__number {
    @apply text-[28px] leading-8;
}

.stat-overview__unit {
    @apply text-[18px] leading-6 tracking-[0.18px];
}

.stat-overview__meta {
    @apply flex gap-1 text-slate-500 text-xs font-medium leading-4 tracking-wide;
}
