<div class="card__title mb-4 2xl:mb-5">Посчитали <br>ещё кое-что</div>
<div class="facts__sticker absolute"></div>

<ul class="facts__list flex-1 mb-4 2xl:mb-6">
    <li class="facts__item"><span class="text-blue-600">На 23% выросла</span> активность за последние 3 месяца. Стабильный апгрейд!</li>
    <li class="facts__item"><span class="text-blue-600">4 проекта в месяц</span> в среднем делаем. Можем и больше!</li>
    <li class="facts__item"><span class="text-blue-600"><span class="text-blue-600">+3 уникальные площадки</span> за год. Так держать!</li>
    <li class="facts__item"><span class="text-blue-600">9 дней</span> занял самый длинный проект. Остальные куда быстрее :)</li>
    <li class="facts__item"><span class="text-blue-600">В январе 2020</span> мы сделали первый проект</li>
</ul>

<div class="flex items-center justify-between relative overflow-hidden group card__stick_x card__padding_left">
    <div class="text-blue-900 font-medium text-sm leading-4.5 tracking-[0.14px] 2xl:text-base 2xl:leading-5 2xl:tracking-[0.16px]">Самый <br>классный факт</div>
    <div class="facts__arrow"></div>
    <div class="w-13 h-13.5 2xl:w-18 2xl:h-16"></div>

    <div class="bg-white absolute inset-0 w-[150%] left-[calc(100%-3.25rem)] 2xl:left-[calc(100%-4.5rem)] group-hover:left-(--card-padding) cursor-pointer transition-[left] duration-500 ease-[cubic-bezier(0.68,-0.55,0.27,1.55)]">
        <div class="facts__love absolute inset-0 p-2.25 2xl:p-3 pl-13 2xl:pl-18 bg-slate-50 rounded-l-full text-blue-900 font-bold text-sm leading-4.5 tracking-[0.14px] 2xl:text-base 2xl:leading-5 2xl:tracking-[0.16px]">
            Спасибо,
            что вы с нами.<br>Дальше — больше!
        </div>
    </div>
</div>
