<div class="tab-group flex-1 flex flex-col" data-line-chart-tabs>
    <!-- Табы -->
    <div class="tab-buttons material-tabs material-tabs_charts card__padding_left card__padding_left mb-7">
        <button class="tab-btn material-tab material-tab_1 active" data-index="0">Проекты</button>
        <button class="tab-btn material-tab material-tab_2" data-index="1">Ресайзы</button>
        <button class="tab-btn material-tab material-tab_3" data-index="2">Площадки</button>
    </div>

    <!-- Контент -->
    <div class="swiper tab-swiper flex-1 w-full">
        <div class="swiper-wrapper h-full!">
            <div class="swiper-slide swiper-no-swiping overflow-hidden h-full!">
                <div class="h-full card__padding_left min-h-[420px] 3xl:sc:min-h-[532px] 2xl:sc:min-h-[380px]"
                     data-line-chart="projects"
                     data-categories='{{{json lineChart.categories}}}'
                     data-chart-data='{{{json lineChart.dataA}}}'
                ></div>
            </div>
            <div class="swiper-slide swiper-no-swiping overflow-hidden h-full!">
                <div class="h-full card__padding_left min-h-[420px] 3xl:sc:min-h-[532px] 2xl:sc:min-h-[380px]"
                     data-line-chart="resizes"
                     data-categories='{{{json lineChart.categories}}}'
                     data-chart-data='{{{json lineChart.dataB}}}'
                ></div>
            </div>
            <div class="swiper-slide swiper-no-swiping overflow-hidden h-full!">
                <div class="h-full card__padding_left min-h-[420px] 3xl:sc:min-h-[532px] 2xl:sc:min-h-[380px]"
                     data-line-chart="platforms"
                     data-categories='{{{json lineChart.categories}}}'
                     data-chart-data='{{{json lineChart.dataC}}}'
                ></div>
            </div>
        </div>
    </div>
</div>
