<div class="flex flex-wrap items-center justify-between gap-5">
    <div class="card__title flex-1 flex items-center gap-0">
        <span>Наружка в&nbsp;</span>
        <div class="map__platform" id="mapPlatformFilter">
            <button class="map__platform-current">Санкт-Петербург</button>
            <div class="map__platform-dropdown">
                <ul class="map__platform-list scrollbar scrollbar-y">
                    {{#each map.platforms}}
                    <li class="map__platform-item {{#if @first}}map__platform-item_active{{/if}}" data-platform-id="{{this.id}}">
                        <span class="flex-1">{{this.name}}</span>
                        <i class="icon icon-check text-blue-600 size-5"></i>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>

    <div class="filter" id="mapDirectionFilter">
        <div class="filter__items">
            {{#each map.directions}}
            <button
                    class="filter__item {{#if @first}} filter__item_active{{/if}}"
                    data-direction-id="{{this.id}}">{{this.name}}
            </button>
            {{/each}}
        </div>
    </div>
</div>

<div class="map-container relative card__stick_x card__stick_bottom card__rounded overflow-hidden">
    <div id="mapChart"
         class="w-full h-[350px] xl:h-[440px] 2xl:h-[468px] 3xl:h-[620px]"
         data-module="map"
         data-points='{{{json map.points}}}'
         data-directions='{{{json map.directions}}}'
         data-platforms='{{{json map.platforms}}}'
    ></div>

    <!-- Балун карты -->
    <div id="mapBalloon"
         class="absolute left-4 top-4 bottom-4 w-70 2xl:w-80 bg-white rounded-2xl shadow-map overflow-hidden z-10 flex flex-col  transform transition-all duration-300 ease-out opacity-0 -translate-x-8 scale-95 pointer-events-none"
         data-state="hidden">
        <!-- Шапка -->
        <div class="flex items-center gap-3 p-3 pr-4 mb-4 border-b border-slate-100">
            <div class="size-11.5 rounded-xl bg-slate-50 icon icon-placemark"></div>
            <h5 id="balloonTitle" class="text-blue-900 font-bold text-sm leading-4.5 tracking-[0.14px] line-clamp-2 flex-1"></h5>
            <button id="closeBalloon" class="flex-shrink-0 size-6 p-0.5 cursor-pointer rounded-full">
                <div class="size-5 icon icon-close-small"></div>
            </button>
        </div>

        <!-- Заголовок таблицы -->
        <div class="grid grid-cols-[42px_1fr_minmax(min-content,32px)] grid-rows-[32px] items-center gap-y-2 gap-x-3 text-xs/4 font-black text-slate-400 uppercase tracking-wide mb-2 px-4">
            <div class="text-center">Мес</div>
            <div>Размещения</div>
            <div></div>
        </div>

        <!-- Контент -->
        <div class="pl-4 mr-1 pr-1.5 pb-3 flex-1 overflow-hidden overflow-y-scroll scrollbar scrollbar-y scrollbar-track-mb-3 snap-y snap-proximity">

            <!-- Список месяцев -->
            <div id="monthlyData"
                 class="grid grid-cols-[42px_1fr_minmax(min-content,32px)] auto-rows-[32px] items-center gap-y-2 gap-x-3 text-xs/4 font-black text-slate-400 uppercase tracking-wide text-center">
                <!-- Данные будут добавлены через JavaScript -->
            </div>
        </div>
    </div>
</div>
