<h2 class="card__title mb-6">Типы материалов</h2>

<div id="pieChart"
     class="mx-auto mt-7 mb-8 size-[192px] 2xl:size-[260px]"
     data-module="pieChart"
     data-chart='{{{json pieChart}}}'
>
</div>

<div class="flex flex-wrap gap-2 2xl:gap-4">
    {{#each pieChart}}
    <div class="flex items-center gap-2 segment-color">
        <div class="bg-current size-4 rounded-md"></div>

        <div class="text-sm 2xl:text-base leading-4.5 2xl:leading-5 font-medium tracking-[0.28px] 2xl:tracking-[0.32px]">
            <span class="text-blue-900">{{name}}</span>
            <span class="text-slate-400">({{percent}})</span>
        </div>
    </div>
    {{/each}}
</div>
