each block in params
    .space-y-4
        h3=block.title

        each item in block.items
            .flex.gap-2
                .h-8.flex-1.flex.items-end.gap-2
                    span(class="mb-[1px] whitespace-nowrap text-slate-500 text-xs font-black leading-4 tracking-[0.3px] uppercase")=item.name
                    div(class="flex-1 border-b border-zinc-100 mb-1")

                div(class="w-[439px]")
                    .tags.tags_small
                        each tag in item.tags
                            .tag=tag
