<div class="filters filters_collapsed">
    <div class="flex items-center gap-5 m-6">
        <span class="flex-1 text-blue-900 font-serif text-2xl font-bold leading-[normal]">Фильтры</span>

        <button id="filters_close" type="button" class="action-button action-button_secondary size-12">
            <span class="icon icon-x-mark size-[22px]"></span>
        </button>
    </div>

    <div class="filters__scroll at-top">
        <div class="filters__top"></div>

        <div class="filters__body">
            <div class="filter">
                <p class="filter__name">Год</p>

                <div class="filter__items">
                    <a href="#" class="filter__item filter__item_active">2025</a>
                    <a href="#" class="filter__item">2024</a>
                    <a href="#" class="filter__item">2023</a>
                    <a href="#" class="filter__item">2022</a>
                    <a href="#" class="filter__item">2021</a>
                    <a href="#" class="filter__item">2020</a>
                    <a href="#" class="filter__item">2019</a>
                    <a href="#" class="filter__item">2018</a>
                    <a href="#" class="filter__item">2017</a>
                    <a href="#" class="filter__item">2016</a>
                    <a href="#" class="filter__item">2015</a>
                </div>
            </div>

            <div class="filter">
                <p class="filter__name">Направление</p>

                <div class="filter__items">
                    <a href="#" class="filter__item">Web</a>
                    <a href="#" class="filter__item">DOOH</a>
                    <a href="#" class="filter__item">OOH</a>
                    <a href="#" class="filter__item">MF</a>
                </div>
            </div>

            <div class="filter">
                <p class="filter__name">Тип материала</p>

                <div class="filter__items">
                    <a href="#" class="filter__item">HTML5</a>
                    <a href="#" class="filter__item">GIF</a>
                    <a href="#" class="filter__item">Сторис</a>
                    <a href="#" class="filter__item">Статика</a>
                    <a href="#" class="filter__item">Видео</a>
                    <a href="#" class="filter__item">Моушн</a>
                    <a href="#" class="filter__item">3D</a>
                    <a href="#" class="filter__item">Обложки</a>
                    <a href="#" class="filter__item">Посты</a>
                    <a href="#" class="filter__item">Email</a>
                    <a href="#" class="filter__item filter__item_expand">+6</a>
                    <a href="#" class="filter__item hidden">Иллюстрации</a>
                    <a href="#" class="filter__item hidden">Графический дизайн</a>
                    <a href="#" class="filter__item hidden">Smm</a>
                    <a href="#" class="filter__item hidden">Ux/Ui</a>
                    <a href="#" class="filter__item hidden">Посадочные страницы</a>
                    <a href="#" class="filter__item filter__item_collapse hidden">
                        <span class="icon icon-filter-collapse w-[10px] h-[6px]"></span>
                    </a>
                </div>
            </div>

            <div class="filter">
                <p class="filter__name">Площадки</p>

                <div class="filter__items">
                    <a href="#" class="filter__item">Все</a>
                    <a href="#" class="filter__item">Рамблер</a>
                    <a href="#" class="filter__item filter__item_active">Яндекс</a>
                    <a href="#" class="filter__item">Instagram</a>
                    <a href="#" class="filter__item">Avito</a>
                    <a href="#" class="filter__item">Twitter</a>
                    <a href="#" class="filter__item">Google</a>
                    <a href="#" class="filter__item">VK</a>
                    <a href="#" class="filter__item">Авиасейлс</a>
                    <a href="#" class="filter__item">Weborama</a>
                    <a href="#" class="filter__item">Mail</a>
                    <a href="#" class="filter__item">Youtube</a>
                </div>
            </div>

            <div class="filter">
                <p class="filter__name">Размеры</p>

                <div class="filter__items">
                    <a href="#" class="filter__item">300×600</a>
                    <a href="#" class="filter__item filter__item_active">300×250</a>
                    <a href="#" class="filter__item">300×250</a>
                    <a href="#" class="filter__item">160×600</a>
                    <a href="#" class="filter__item">320×480</a>
                    <a href="#" class="filter__item">300×500</a>
                    <a href="#" class="filter__item">300×300</a>
                    <a href="#" class="filter__item">320×100</a>
                    <a href="#" class="filter__item">200×300</a>
                    <a href="#" class="filter__item">250×20</a>
                    <a href="#" class="filter__item">300×600</a>
                    <a href="#" class="filter__item">160×600</a>
                    <a href="#" class="filter__item">320×480</a>
                </div>
            </div>
        </div>

        <div class="filters__bottom"></div>
    </div>

    <button type="button" class="filters__reset">Сбросить</button>
</div>
