{{#each params}}
<div class="space-y-6">
    <h3>{{title}}</h3>

    {{#each items}}
    <div class="flex gap-2">
        <div class="h-8 flex-1 flex items-end gap-2">
            <span class="mb-px whitespace-nowrap text-slate-500 text-xs font-black leading-4 tracking-wide uppercase">{{name}}</span>
            <div class="flex-1 border-b border-zinc-100 mb-1"></div>
        </div>

        <div class="w-[540px]">
            <div class="tags tags_small">
                {{#each tags}}

                {{#if (isArray this)}}
                <div class="tag_multi">
                    {{#each this}}
                    <span class="tag">{{this}}</span>
                    {{/each}}
                </div>

                {{else}}

                <div class="tag">{{this}}</div>
                {{/if}}

                {{/each}}
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{/each}}
