<div class="projects projects-grid h-full">
    <div class="projects-grid__loader"></div>

    <div class="projects-grid__items">
        {{#each projects}}
        <div class="projects__item projects-grid__item" data-src="view_modal.html">
            {{#if image}}
            <img src="{{image}}" alt="#" class="projects-grid__image w-full max-w-full">
            {{/if}}

            <div class="flex flex-col gap-4 p-4 projects-grid__body">
                <div class="space-y-2">
                    <a href="view_modal.html" class="projects-grid__title">{{{title}}}</a>

                    <div class="flex items-center gap-2">
                        <span>{{category}}</span>
                        <div class="size-1 rounded-full bg-slate-400"></div>
                        <span>{{date}}</span>
                    </div>
                </div>

                <div class="flex items-center gap-2">
                    <span class="flex-1 truncate">Антонина Маркова</span>

                    <div class="relative">
                        <button type="button"
                                class="flex items-center justify-center size-9 rounded-full cursor-pointer transition bg-slate-100 hover:bg-slate-150 active:bg-slate-200 js-toggle-links-popup">
                            <span class="icon icon-attachment size-4"></span>
                        </button>

                        <div class="links-popup">
                            <div class="flex items-center gap-3">
                                <a href="https://ya.ru" target="_blank" class="size-6 icon icon-docs-yandex-disk"></a>
                                <div class="h-5 w-px bg-[#EEE] opacity-90"></div>
                                <a href="https://ya.ru" target="_blank" class="size-6 icon icon-docs-figma"></a>
                            </div>
                        </div>
                    </div>

                    <button type="button"
                            class="flex items-center justify-center size-9 rounded-full cursor-pointer transition bg-slate-100 hover:bg-slate-150 active:bg-slate-200 js-toggle-favorite {{#if is_favorite}}js-toggle-favorite_active{{/if}}">
                        <span class="icon icon-star-empty outlined size-5"></span>
                        <span class="icon icon-star-active size-5"></span>
                    </button>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
