.cta-number {
    background-image: url("../img/cta/bg.webp");
    background-size: cover;

    @apply font-serif font-black;
}

.cta-number__value {
    transform: rotate(-4.013deg) translateX(-50%);

    font-size: 38.594px;
    font-style: normal;
    line-height: normal;

    background: linear-gradient(228deg, #2856F6 41.73%, rgba(40, 86, 246, 0.00) 83.12%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    position: absolute;
    top: -8px;
    left: 50%;

    font-variant-numeric: tabular-nums;
}

.cta-number__unit {

    display: flex;
    align-items: center;

    padding: 0 4px;
    height: 16.884px;
    transform: rotate(-4.013deg) translateX(-50%);
    flex-shrink: 0;

    border-radius: 5px;
    background: #FFF;


    color: #2957F6;
    font-size: 14.571px;
    font-style: normal;
    line-height: normal;

    position: absolute;
    bottom: 10px;
    left: 50%;

    white-space: nowrap;
}

.cta-number_small .cta-number__value {
    font-size: 28px;

    background: linear-gradient(225deg, #2856F6 62.68%, #2856F6 70.49%, rgba(40, 86, 246, 0.00) 83.87%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    top: 2px;
}

.cta-number_small .cta-number__unit {
    font-size: 12px;
    line-height: 10px;

    bottom: 8px;
}
