.filter-search {
    @apply relative w-[171px] max-w-md;
}

.filter-search__input {
    @apply w-full;
    @apply pl-3 pr-2 py-2.5;
    @apply rounded-xl border-none ring-[1.5px] ring-slate-260 bg-transparent;
    @apply text-sm text-blue-900 font-medium leading-5 tracking-[0.28px];
    @apply placeholder-slate-400 focus:outline-none focus:ring-2;
    @apply transition-all;

    &:placeholder-shown {
        @apply pl-10;
    }
}

.filter-search__input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 14px;
    width: 14px;
    mask: url("../img/x.svg");
    mask-size: 100%;
    @apply bg-slate-400;
    cursor: pointer;
    opacity: 1;
}

.filter-search:has(.filter-search__input:focus) .icon-search {
    @apply !text-blue-900;
}

.icon-search {
    @apply opacity-0 transition-opacity;
    display: block;
}

.filter-search:has(.filter-search__input:placeholder-shown) .icon-search {
    @apply opacity-100;
}
