.icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center center;
}


.icon-telegram {
    background-image: url("../img/telegram.svg");
}

.icon-logo {
    background-image: url("../img/logo.svg");
}

.icon-projects {
    background-image: url("../img/projects.svg");
}

.icon-link-simple {
    background-image: url("../img/link_simple.svg");
}

.icon-star-empty {
    background-image: url("../img/star_empty.svg");
}

.icon-star-empty.outlined {
    background-image: none;
    mask-image: url("../img/menu/star.svg");

    @apply bg-slate-400;
}

.icon-star-active {
    background-image: url("../img/star_active.svg");

    filter: drop-shadow(0px 2px 8px rgba(255, 204, 0, 0.5));
}

.icon-download {
    background-image: url("../img/download.svg");
}

.icon-x-mark {
    background-image: url("../img/x.svg");
}

.icon-sidebar-toggle {
    background-image: url("../img/sidebar_toggle.svg");
    background-size: 14px 12px;
}

.icon-sidebar-menu-projects {
    background-image: url("../img/menu/projects.svg");
    background-size: 24px;
}

.icon-sidebar-menu-star {
    background-image: url("../img/menu/star.svg");
    background-size: 28px;
}

.icon-logout {
    background-image: url("../img/logout.svg");
    background-size: 20px;
}

.icon-list-type-grid {
    mask-image: url("../img/grid/list_type_grid.svg");
}

.icon-list-type-list {
    mask-image: url("../img/grid/list_type_list.svg");
}

.icon-search {
    background-image: url("../img/search.svg");
}

.icon-filters {
    background-image: url("../img/filters.svg");
}

.icon-sort-down {
    background-image: url("../img/sort_arrow.svg");
}

.icon-sort-up {
    background-image: url("../img/sort_arrow.svg");
    @apply rotate-180;
}

.icon-filter-collapse {
    background-image: url("../img/filter_collapse.svg");
}

.icon-empty-search {
    background-image: url("../img/empty_search.svg");
}

.icon-attachment {
    background-image: url("../img/attachment.svg");
}
