.icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}


.icon-telegram {
    background-image: url("../img/telegram.svg");
}

.icon-logo {
    background-image: url("../img/logo.svg");
}

.icon-projects {
    background-image: url("../img/projects.svg");
}

.icon-link-simple {
    background-image: url("../img/link_simple.svg");
}

.icon-star-active {
    background-image: url("../img/star_active.svg");

    filter: drop-shadow(0px 2px 8px rgba(255, 204, 0, 0.5));
}

.icon-download {
    background-image: url("../img/download.svg");
}
