.icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center center;
}


.icon-telegram {
    mask-image: url("../img/telegram.svg");
    background-color: currentColor;
}

.icon-logo {
    background-image: url("../img/logo.svg");
}

.icon-projects {
    background-image: url("../img/projects.svg");
}

.icon-link-simple {
    mask-image: url("../img/link_simple.svg");
    background-color: currentColor;
}

.icon-star-empty {
    mask-image: url("../img/star_empty.svg");

    background-color: currentColor;
}

.icon-star-active {
    background-image: url("../img/star_active.svg");

    filter: drop-shadow(0px 2px 8px rgba(255, 204, 0, 0.5));
}

.icon-download {
    background-image: url("../img/download.svg");
}

.icon-x-mark {
    mask-image: url("../img/x.svg");
    background-color: currentColor;
}

.icon-sidebar-toggle {
    background-image: url("../img/sidebar_toggle.svg");
    background-size: 14px 12px;
}

.icon-sidebar-menu-projects {
    background-image: url("../img/menu/projects.svg");
    background-size: 24px;
}

.icon-sidebar-menu-star {
    background-image: url("../img/menu/star.svg");
    background-size: 28px;
}

.icon-sidebar-menu-stats {
    background-image: url("../img/menu/stat.svg");
    background-size: 28px;
}

.icon-logout {
    mask-image: url("../img/logout.svg");
    mask-size: 20px;

    background-color: currentColor;
}

.icon-list-type-grid {
    mask-image: url("../img/grid/list_type_grid.svg");
}

.icon-list-type-list {
    mask-image: url("../img/grid/list_type_list.svg");
}

.icon-search {
    background-image: url("../img/search.svg");
}

.icon-filters {
    background-image: url("../img/filters.svg");
}

.icon-sort-down {
    background-image: url("../img/sort_arrow.svg");
}

.icon-sort-up {
    background-image: url("../img/sort_arrow.svg");
    @apply rotate-180;
}

.icon-filter-collapse {
    background-image: url("../img/filter_collapse.svg");
}

.icon-empty-search {
    background-image: url("../img/empty_search.svg");
}

.icon-attachment {
    mask-image: url("../img/attachment.svg");
    background-color: currentColor;
}

.icon-dropdown-arrow {
    mask-image: url("../img/dropdown-arrow.svg");
    background-color: currentColor;
}

.icon-check {
    mask-image: url("../img/check.svg");
    background-color: currentColor;
}

.icon-placemark {
    background-image: url("../img/placemark.webp");
}

.icon-close-small {
    background-image: url("../img/close_small.svg");
}

.icon-projects-solid {
    mask-image: url("../img/projects_solid.svg");
    background-color: currentColor;
}
