@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&text=0123456789');
@import "../fonts/stylesheet.css";
@import "../../node_modules/swiper/swiper-bundle.min.css";
/*@import "@fancyapps/ui/dist/fancybox.css";*/
@import "vendor/fancybox.css";

@import "tailwindcss";

/* Components */
@import "base/chart.css" layer(components);
@import "base/touch-scroll.css" layer(components);
@import "base/scrollbar.css" layer(components);
@import "forms.css" layer(components);
@import "action-buttons.css" layer(components);
@import "filters.css" layer(components);
@import "icons.css" layer(components);
@import "icons_docs.css" layer(components);
@import "links-popup.css" layer(components);
@import "switcher.css" layer(components);
@import "share-button.css" layer(components);
@import "tags.css" layer(components);
@import "material-tabs.css" layer(components);
@import "stats/stats-overview.css" layer(components);
@import "stats/card.css" layer(components);
@import "stats/facts.css" layer(components);
@import "stats/badge.css" layer(components);
@import "stats/map-platform.css" layer(components);

/** Utilities */
@import "utilities.css" layer(utilities);

/* Blocks */
@import "sidebar-menu.css";
@import "sidebar.css";
@import "projects-list.css";
@import "projects-grid.css";
@import "viewer.css";

@theme {
    --font-sans: 'Craftwork Sans', 'system-ui', 'Helvetica', 'Arial', 'sans-serif';
    --font-serif: 'Craftwork Grotesk', serif;
    --font-ubuntu: Ubuntu, 'system-ui', 'Helvetica', 'Arial', 'sans-serif';

    --leading-normal: 1.1875;

    --shadow-login: 0px 2px 14px 0px rgba(23, 31, 64, 0.05);
    --shadow-form-control-active: 0px 2px 4px 0px rgba(53, 74, 135, 0.08);
    --shadow-sidebar-menu-active: 0px 2px 4px 0px rgba(53, 74, 135, 0.08);
    --shadow-content-block: 0px 2px 14px 0px rgba(80, 113, 246, 0.06);
    --shadow-projects-grid-hover: 0px 4px 12px 0px rgba(34, 34, 34, 0.04);

    --color-amber-50: #FFFBEB;

    --color-blue-100: #E6EFFF;
    --color-blue-500: #4A71F7;
    --color-blue-600: #2856F6;
    --color-blue-650: #2E55DB;
    --color-blue-700: #2146C4;
    --color-blue-900: #161F6A;

    --color-purple-400: #BC85FE;
    --color-purple-470: #AB67FE;

    --color-pink-50: #FEECEC;
    --color-pink-300: #FF96EB;

    --color-slate-50: #F4F6FA;
    --color-slate-100: #EFF2F7;
    --color-slate-140: #ECEFF6; /* old 150 */
    --color-slate-150: #E5E9F0; /* new 150 */
    --color-slate-170: #E9EDF5;
    --color-slate-175: #E9ECF3;
    --color-slate-240: #DFE4EC; /* old 200 */
    --color-slate-250: #E2E6EE; /* new 200 */
    --color-slate-300: #C7CDE0;
    --color-slate-400: #ABB1C4;
    --color-slate-500: #6E7185;

    --color-indigo-50: #E3E8F2;
    --color-indigo-100: #E5EBFF;

    --color-rose-100: #FED9DA;
    --color-rose-500: #FF4154;

    --color-lime-300: #B6F187;
    --color-lime-400: #A4EE62;

    --color-yellow-400: #FDC432;

    --color-orange-400: #F68128;
    --color-orange-500: #FD6832;
    --color-orange-600: #DF6738;

    --color-green-500: #2FC25B;

    --color-zinc-100: #EFEDF0;

    --color-gold: #FFCC00;

    --color-star-empty-default: var(--color-slate-500);
    --color-star-empty-hover: var(--color-gold);
    --color-star-empty-active: var(--color-gold);

    --default-transition-duration: 200ms;

    /*--breakpoint-sm: 640px;*/
    /*--breakpoint-md: 768px;*/
    /*--breakpoint-lg: 1024px;*/
    /*--breakpoint-xl: 1280px;*/
    --breakpoint-2xl: 90rem;  /* 1440px, оригинал - 1536px */
    --breakpoint-3xl: 105rem; /* 1680px; */
    --breakpoint-4xl: 120rem; /* 1920px */
}

@custom-variant sidebar-open (html.with-sidebar-open &);
@custom-variant sidebar-closed (html.with-sidebar-closed &);

@custom-variant so (html.with-sidebar-open &);
@custom-variant sc (html.with-sidebar-closed &);

@layer base {
    :root {
        --card-padding: 1.25rem; /* 20px */
        --card-rounded: 1rem; /* 16px */

        --card-border-offset: 1.5px;
    }

    /* 2xl в Tailwind */
    @media (min-width: 90rem) {
        :root {
            --card-padding: 1.5rem; /* 24px */
            --card-rounded: 1.5rem; /* 16px */
        }
    }
}

:root {
    /*font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;*/
    /*line-height: 1.5;*/
    font-weight: 400;

    /*color-scheme: light dark;*/
    /*color: rgba(255, 255, 255, 0.87);*/
    /*background-color: #242424;*/

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bg-login {
    background-color: #0C3CE7;
    background-image: url("../img/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h3 {
    @apply font-serif text-lg font-bold leading-6 tracking-[0.18px] mb-4 text-blue-900;
}

.progress {
    --progress: 0%;

    @apply h-2 min-w-11.5 bg-slate-50 rounded-full relative;
    @apply overflow-hidden;

    &:after {
        content: '';

        @apply absolute inset-0;
        @apply rounded-full bg-current;
        transition: right 0.3s ease;
        left: -100%;
        right: calc(100% - var(--progress));
    }
}

.segment-color {
    @apply text-white;

    @apply nth-[5]:text-[#FC0];
    @apply nth-[6]:text-[#FD6832];

    @apply nth-last-[2]:text-[#FED9DA];
    @apply nth-last-[1]:text-[#FEECEC];

    @apply nth-[1]:text-[#2856F6];
    @apply nth-[2]:text-[#4A71F7];
    @apply nth-[3]:text-[#BC85FE];
    @apply nth-[4]:text-[#FF96EB];
}

.js-toggle-favorite {
    @apply relative;
}

.js-toggle-favorite .icon {
    @apply opacity-0;
    @apply absolute left-1/2 top-1/2 -translate-1/2;
}

.js-toggle-favorite:not(.js-toggle-favorite_active) .icon-star-empty {
    @apply opacity-100;
}

.js-toggle-favorite.js-toggle-favorite_active .icon-star-active {
    @apply opacity-100;
}

.fancybox__backdrop {
    background: rgba(15, 20, 57, 0.50);
    backdrop-filter: blur(12.100000381469727px);

    @apply cursor-pointer;
}

.fancybox__content {
    @apply rounded-t-4xl bg-white;
    @apply w-full;

    @apply p-0;
}

.fancybox__slide {
    padding: 48px 0 0;
}

.fancybox__content > .carousel__button.is-close {
    svg {
        display: none;
    }

    mask-image: url("../img/x.svg");
    mask-size: 22px;
    mask-position: center;
    mask-repeat: no-repeat;

    background-color: #fff;

    @apply size-12 -top-12 right-8;
}

html.with-fancybox .fancybox__slide {
    /* as content scrolled inside content block, disable common scroll */
    overflow-y: hidden !important;
}

.scroll-inner {
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
        margin-top: 32px;
        margin-bottom: 0;
    }

    &::-webkit-scrollbar-thumb {
        @apply bg-slate-240 rounded-full;
    }
}

/** project empty block */
.projects-grid__items:has(.projects__empty) {
    @apply h-full!;
}

.projects-list:has(.projects__empty) {
    @apply mt-0 h-full;
}

.projects__empty {
    @apply bg-white cursor-default;
}

/** loading indication */
#loading-indicator {
    @apply absolute top-1/2 left-1/2 -translate-1/2;
    @apply size-12;
    @apply border-3 border-slate-400 rounded-full border-t-transparent;
    @apply animate-spin;
    @apply pointer-events-none;
    @apply transition-opacity opacity-0;
}

#loading-indicator.show {
    @apply opacity-100;
}

#lineChart > div:first-child {
    min-width: 100%;
    max-width: 100%;
}

#lineChart > div > canvas {
    min-width: 100%;
    max-width: 100%;
}

/*a {*/
/*  font-weight: 500;*/
/*  color: #646cff;*/
/*  text-decoration: inherit;*/
/*}*/
/*a:hover {*/
/*  color: #535bf2;*/
/*}*/

/*body {*/
/*  margin: 0;*/
/*  display: flex;*/
/*  place-items: center;*/
/*  min-width: 320px;*/
/*  min-height: 100vh;*/
/*}*/

/*h1 {*/
/*  font-size: 3.2em;*/
/*  line-height: 1.1;*/
/*}*/

/*#app {*/
/*  max-width: 1280px;*/
/*  margin: 0 auto;*/
/*  padding: 2rem;*/
/*  text-align: center;*/
/*}*/

/*.logo {*/
/*  height: 6em;*/
/*  padding: 1.5em;*/
/*  will-change: filter;*/
/*  transition: filter 300ms;*/
/*}*/
/*.logo:hover {*/
/*  filter: drop-shadow(0 0 2em #646cffaa);*/
/*}*/
/*.logo.vanilla:hover {*/
/*  filter: drop-shadow(0 0 2em #f7df1eaa);*/
/*}*/

/*.card {*/
/*  padding: 2em;*/
/*}*/

/*.read-the-docs {*/
/*  color: #888;*/
/*}*/

/*button {*/
/*  border-radius: 8px;*/
/*  border: 1px solid transparent;*/
/*  padding: 0.6em 1.2em;*/
/*  font-size: 1em;*/
/*  font-weight: 500;*/
/*  font-family: inherit;*/
/*  background-color: #1a1a1a;*/
/*  cursor: pointer;*/
/*  transition: border-color 0.25s;*/
/*}*/
/*button:hover {*/
/*  border-color: #646cff;*/
/*}*/
/*button:focus,*/
/*button:focus-visible {*/
/*  outline: 4px auto -webkit-focus-ring-color;*/
/*}*/

/*@media (prefers-color-scheme: light) {*/
/*  :root {*/
/*    color: #213547;*/
/*    background-color: #ffffff;*/
/*  }*/
/*  a:hover {*/
/*    color: #747bff;*/
/*  }*/
/*  button {*/
/*    background-color: #f9f9f9;*/
/*  }*/
/*}*/

.custom-balloon {
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    padding: 10px;
    border-radius: 4px;
}

.ymaps-b-cluster-balloon__layout,
.ymaps-b-balloon__layout,
.ymaps-b-balloon {
    background: transparent !important;
    box-shadow: none !important;
}

@config "../../tailwind.config.js";
