@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&text=0123456789');
@import "../fonts/stylesheet.css";
@import "../../node_modules/swiper/swiper-bundle.min.css";
/*@import "@fancyapps/ui/dist/fancybox.css";*/
@import "vendor/fancybox.css";

@import "forms.css";
@import "icons.css";
@import "icons_docs.css";
@import "sidebar-menu.css";
@import "sidebar.css";
@import "switcher.css";
@import "projects-list.css";
@import "projects-grid.css";
@import "filters.css";
@import "share-button.css";
@import "links-popup.css";

@import "tailwindcss";

@theme {
    --font-sans: 'Craftwork Sans', 'system-ui', 'Helvetica', 'Arial', 'sans-serif';
    --font-serif: 'Craftwork Grotesk', serif;
    --font-ubuntu: Ubuntu, 'system-ui', 'Helvetica', 'Arial', 'sans-serif';

    --shadow-login: 0px 2px 14px 0px rgba(23, 31, 64, 0.05);
    --shadow-form-control-active: 0px 2px 4px 0px rgba(53, 74, 135, 0.08);
    --shadow-sidebar-menu-active: 0px 2px 4px 0px rgba(53, 74, 135, 0.08);
    --shadow-content-block: 0px 2px 14px 0px rgba(80, 113, 246, 0.06);
    --shadow-projects-grid-hover: 0px 4px 12px 0px rgba(34, 34, 34, 0.04);

    --color-amber-50: #FFFBEB;
    --color-blue-100: #E6EFFF;
    --color-blue-600: #2856F6;
    --color-blue-700: #2955EE;
    --color-blue-800: #2349CD;
    --color-blue-900: #161F6A;
    --color-slate-50: #F4F6FA;
    --color-slate-100: #EFF2F7;
    --color-slate-150: #ECEFF6;
    --color-slate-170: #E9EDF5;
    --color-slate-175: #E9ECF3;
    --color-slate-200: #DFE4EC;
    --color-slate-400: #ABB1C4;
    --color-slate-500: #6E7185;
    --color-indigo-50: #E3E8F2;
    --color-indigo-100: #E5EBFF;
    --color-rose-500: #FF4154;
    --color-orange-600: #DF6738;
    --color-zinc-100: #EFEDF0;

    --default-transition-duration: 200ms;

    --breakpoint-screen-1200: 1200px;
    --breakpoint-screen-1366: 1366px;
    --breakpoint-screen-1440: 1440px;
    --breakpoint-screen-1700: 1700px;
}

:root {
    /*font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;*/
    /*line-height: 1.5;*/
    font-weight: 400;

    /*color-scheme: light dark;*/
    /*color: rgba(255, 255, 255, 0.87);*/
    /*background-color: #242424;*/

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bg-login {
    background-color: #0C3CE7;
    background-image: url("../img/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.tab-btn.active {
    @apply text-blue-900;
}

h3 {
    @apply font-serif text-lg font-bold leading-6 tracking-[0.18px] mb-4 text-blue-900;
}

.tags {
    @apply flex gap-2 items-start content-start flex-wrap;
}

.tag {
    @apply bg-slate-50 rounded-lg px-3 py-2;

    @apply whitespace-nowrap text-slate-500 text-sm font-medium leading-4 tracking-[0.28px];
}

.tags_small .tag {
    @apply px-[9px];
}

.js-toggle-favorite {
    @apply relative;
}

.js-toggle-favorite .icon {
    @apply transition-opacity opacity-0;
    @apply absolute left-1/2 top-1/2 -translate-1/2;
}

.js-toggle-favorite:not(.js-toggle-favorite_active) .icon-star-empty {
    @apply opacity-100;
}

.js-toggle-favorite.js-toggle-favorite_active .icon-star-active {
    @apply opacity-100;
}


.fancybox__backdrop {
    background: rgba(15, 20, 57, 0.50);
    backdrop-filter: blur(12.100000381469727px);

    @apply cursor-pointer;
}

.fancybox__content {
    @apply rounded-t-4xl bg-white;
    @apply w-full;

    @apply py-0;
}

.fancybox__slide {
    padding: 48px 0 0;
}

.fancybox__content > .carousel__button.is-close {
    svg {
        display: none;
    }

    mask-image: url("../img/x.svg");
    mask-size: 22px;
    mask-position: center;
    mask-repeat: no-repeat;

    background-color: #fff;

    @apply size-12 -top-12 right-8;
}

/*a {*/
/*  font-weight: 500;*/
/*  color: #646cff;*/
/*  text-decoration: inherit;*/
/*}*/
/*a:hover {*/
/*  color: #535bf2;*/
/*}*/

/*body {*/
/*  margin: 0;*/
/*  display: flex;*/
/*  place-items: center;*/
/*  min-width: 320px;*/
/*  min-height: 100vh;*/
/*}*/

/*h1 {*/
/*  font-size: 3.2em;*/
/*  line-height: 1.1;*/
/*}*/

/*#app {*/
/*  max-width: 1280px;*/
/*  margin: 0 auto;*/
/*  padding: 2rem;*/
/*  text-align: center;*/
/*}*/

/*.logo {*/
/*  height: 6em;*/
/*  padding: 1.5em;*/
/*  will-change: filter;*/
/*  transition: filter 300ms;*/
/*}*/
/*.logo:hover {*/
/*  filter: drop-shadow(0 0 2em #646cffaa);*/
/*}*/
/*.logo.vanilla:hover {*/
/*  filter: drop-shadow(0 0 2em #f7df1eaa);*/
/*}*/

/*.card {*/
/*  padding: 2em;*/
/*}*/

/*.read-the-docs {*/
/*  color: #888;*/
/*}*/

/*button {*/
/*  border-radius: 8px;*/
/*  border: 1px solid transparent;*/
/*  padding: 0.6em 1.2em;*/
/*  font-size: 1em;*/
/*  font-weight: 500;*/
/*  font-family: inherit;*/
/*  background-color: #1a1a1a;*/
/*  cursor: pointer;*/
/*  transition: border-color 0.25s;*/
/*}*/
/*button:hover {*/
/*  border-color: #646cff;*/
/*}*/
/*button:focus,*/
/*button:focus-visible {*/
/*  outline: 4px auto -webkit-focus-ring-color;*/
/*}*/

/*@media (prefers-color-scheme: light) {*/
/*  :root {*/
/*    color: #213547;*/
/*    background-color: #ffffff;*/
/*  }*/
/*  a:hover {*/
/*    color: #747bff;*/
/*  }*/
/*  button {*/
/*    background-color: #f9f9f9;*/
/*  }*/
/*}*/

@config "../../tailwind.config.js";
