.projects-grid {
}

.projects-grid__items {
    @apply py-4 mx-3;
    @apply opacity-0 transition-opacity pointer-events-none;
}

.projects_loaded {
    .projects-grid__items {
        @apply opacity-100 pointer-events-auto;
    }
}

.projects-grid__item {
    @apply block cursor-pointer;
    @apply bg-white rounded-3xl;
    @apply transition;
    @apply hover:shadow-projects-grid-hover;

    @apply m-2;
    @apply w-[calc(100%-16px)] lg:w-[calc(50%-16px)];
    @apply 2xl:w-[calc(33.33%-16px)];
    @apply 3xl:w-[calc(25%-16px)];

    &::after {
        @apply content-[''];
        @apply absolute inset-0;
        @apply rounded-3xl inset-ring inset-ring-[rgba(22,31,106,0.10)];
        @apply pointer-events-none;
    }
}

.projects-grid__image {
    @apply rounded-t-3xl;
}

.projects-grid__body {
    @apply rounded-3xl;
    @apply text-slate-500 text-sm font-medium leading-4.5 tracking-[0.28px];
}

.projects-grid__image + .projects-grid__body {
    @apply rounded-t-none border-t-0;
}

.projects-grid__title {
    @apply block text-blue-900 text-lg font-medium leading-6 tracking-[0.18px];
}
