.projects-list {
    @apply mt-4;

    tbody {
        tr {
            @apply cursor-pointer;

            .icon-star-empty {
                @apply text-star-empty-default;
            }

            &:hover {
                @apply bg-slate-50;

                .icon-star-empty {
                    @apply text-star-empty-hover;

                    &:hover {
                        @apply text-star-empty-active;
                    }
                }
            }
        }
    }

    td, th {
        @apply px-3 text-left;

        &:first-child {
            @apply pl-5 pr-1;
        }

        &:last-child {
            @apply pr-5;
        }
    }
}

.projects-list__body {
    @apply text-slate-500 text-sm font-medium leading-[18px] tracking-[0.28px];
}

.projects-list__title {
    @apply text-blue-900 text-base leading-5 tracking-[0.32px];

    @apply p-0!;
}

.projects-list__link {
    @apply block py-5 px-3;
}

.projects-list__sort {
    /*@apply flex items-center gap-1 py-2 w-full text-left;*/
    @apply py-2 inline-block;
    @apply text-slate-400 text-xs font-black leading-4 tracking-[0.3px] uppercase;
}

button.projects-list__sort, a.projects-list__sort {
    @apply cursor-pointer;

    @apply pr-5 relative;

    &:after {
        content: '';
        @apply absolute right-0 size-4 rotate-180 transition-transform;
        background-image: url("../img/sort_arrow.svg");
        @apply opacity-0;
    }

    &.desc:after {
        @apply rotate-0;
    }

    &.asc, &.desc {
        &:after {
            @apply opacity-100;
        }
    }
}
