.sidebar-menu {
    @apply flex flex-col gap-3;
}

.sidebar-menu__item {

}

.sidebar-menu__item_active {

}

.sidebar-menu__link {
    @apply flex items-center gap-2 px-3 py-4 rounded-2xl;
    @apply text-blue-900 text-lg font-bold leading-6 tracking-[0.18px];

    @apply hover:bg-slate-170;
}

.sidebar-menu__item_active .sidebar-menu__link {
    @apply bg-white shadow-sidebar-menu-active;
}

.sidebar-menu__item:not(.sidebar-menu__item_active) .sidebar-submenu {
    @apply !hidden;
}

/*
 SUBMENU
 */
.sidebar-submenu {
    @apply px-2 py-3 pb-0 flex flex-col gap-2;
}

.sidebar-submenu__item {
    @apply flex items-center px-3 py-[10px] rounded-xl;
    @apply text-lg text-slate-500 font-medium leading-6 tracking-[0.18px];
    @apply transition;
    @apply box-content;
    @apply relative;

    @apply hover:bg-slate-100 hover:text-blue-900 active:text-blue-600;

    &.sidebar-submenu__item_active {
        @apply bg-slate-170 text-blue-600;
    }
}

.sidebar-submenu__text {
    @apply block truncate;
    transform-origin: left center;
}

/** DOT **/
.sidebar-submenu__dot {
    @apply size-3 rounded-full transition;
    @apply bg-slate-300;
}

.sidebar-submenu__item {
    &:hover, &:active, &:focus {
        .sidebar-submenu__dot {
            @apply bg-slate-400;
        }
    }

    &.sidebar-submenu__item_active {
        .sidebar-submenu__dot {
            @apply bg-blue-600;
        }
    }
}

/** TOOLTIP **/
.sidebar_collapsed .sidebar-submenu__text {
    @apply z-10 block!;
    @apply opacity-0 transition-opacity;

    @apply absolute top-1/2 -translate-y-1/2 left-full ml-[22px];

    @apply bg-white;
    @apply p-4 rounded-2xl;
    @apply text-slate-500 text-sm font-medium leading-[18px] tracking-[0.28px];
    @apply overflow-visible pointer-events-none;

    filter: drop-shadow(0px 2px 8px rgba(33, 37, 75, 0.11));

    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: -10px;
        width: 10px;
        height: 48px;
        transform: translateY(-50%);

        background: left top no-repeat url("../img/arrow.svg");
    }
}

.sidebar_collapsed .sidebar-submenu__item {
    &:hover, &:active, &:focus {
        .sidebar-submenu__text {
            @apply opacity-100;
        }
    }
}
