.viewer {

}

.viewer__tabs {
    @apply flex items-start content-start gap-2 flex-wrap;
}

.viewer__tab {
    @apply border border-dashed border-slate-170 rounded-lg;
    @apply px-[11px] py-[9px];
    @apply transition cursor-pointer;

    @apply text-slate-500 text-xs font-black leading-4;
    @apply hover:text-blue-900;

    &.active.tab-btn {
        @apply border-solid border-blue-600 bg-blue-600 text-white;
    }
}

.viewer__view {
    @apply bg-slate-50 rounded-2xl py-5;
}

.viewer__slide {
    @apply flex items-center justify-center;
}

.viewer__item {
    @apply overflow-x-auto overflow-y-hidden;
    @apply p-3 px-5;

    &::-webkit-scrollbar {
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
        margin-top: 0; /* смещение от верхнего края */

        @apply mx-5;
    }

    &::-webkit-scrollbar-thumb {
        @apply bg-slate-300 rounded-full;
    }
}

.viewer__image {
    max-width: none;
}
